{% extends 'base.html.twig' %}

{% block header %}
{% include "includes/header.html.twig" %}
{% endblock %}

{% block title %}Categories List{% endblock %}
{% block body %}
<p>Example</p>
{% endblock %}

{% block footer %}
{% include "includes/footer.html.twig" %}
{% endblock %}
