{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}
	<div class="card mb-2">
		<div class="card-body">
			<h1 class="card-title">Create new Category</h1>

			{{ include('category/_form.html.twig') }}

			<a class='btn btn-secondary' href="{{ path('category_index') }}">Back To Category List</a>
		</div>
	</div>
{% endblock %}
