{% extends 'base.html.twig' %}

{% block title %}New Quiz
{% endblock %}


{% block body %}

	<div class="card mb-2">
		<div class="card-body">
			<h1 class="card-title">Create New Quiz</h1>

			<div class="card bg-light mb-3 mr-3" style="max-width: 30rem;">
				<div class="card-header">Number of questions</div>
				<div class="card-body">
					<form method="post" action="{{ path('quiz_new') }}">
						<label for="number-select">Choose a number:</label>
						<select name="number">
							<option value="">--Choose a number--</option>
							<option value="10">• 10 questions</option>
							<option value="20">• 20 questions</option>
						</select>
						<button class="btn btn-info mt-2">Let's start !</button>
					</form>
				</div>
			</div>

			<a class='btn btn-secondary mb-2' href="{{ path('quiz_index') }}">Back to List</a>
		</div>
	</div>
{% endblock %}
