{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="card mb-2 col-4 mx-auto">
		<div class="card-body">
			<h1 class="card-title h3 mb-3 font-weight-normal">Page 403</h1>

			<iframe src="https://giphy.com/embed/9J7tdYltWyXIY" width="480" height="404" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
		</divclass='row'>
		<a class="btn btn-light mx-auto">Go Play some Quizzes</a>
	</div>
</div></div>{% endblock %}
