{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% form_theme form _self %}

{% block body %}
	<div class="card mb-2">
		<div class="card-body">
			<h1 class="card-title">Edit User</h1>

			{{ include('includes/danger_flash.html.twig') }}

			{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

			<a class='btn btn-secondary mt-1' href="{{ path('user_index') }}">Back to Users List</a>

			{{ include('user/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}